.navbar__container {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.9375rem !important;
    top: 0 !important;
    left: 0;
    padding: 3rem 5%;
    color: white;
}
.navbar_search {
    display: none;
}
.hidden {
    position: fixed;
    top: -80px;
    transition: var(--transition);
    background-color: #000;
    z-index: 100;
}
.logo__container img {
    width: 7.5rem;
    height: auto;
    cursor: pointer;
}

.nav-links__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav-links__container li {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.register-spa button {
    padding: 10px 20px;
    border: 1px solid #FFF;
    border-radius: 30px;
    color: #FFF;
    background: transparent;
    cursor: pointer;
}

@media screen and (max-width:820px) {
    .nav-links__container {
        display: none;
    }
}