.navbar__container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.9375rem !important;
    top: 0 !important;
    left: 0;
    padding: 2rem 5%;
    color: white;
}

.navbar_search-top {
    display: none;
}

/* hidden properties starts */
.hidden {
    position: fixed;
    top: -80px;
    transition: var(--transition);
    background-color: #000;
    z-index: 100;
}

.hidden .nav-links__container {
    display: none;
}

.hidden .navbar_search-top {
    display: flex;
}
.hidden .search__container {
    width: 40%;
    margin:0 auto;
}
/* hidden properties ends */


.logo__container img {
    width: 7.5rem;
    height: auto;
    cursor: pointer;
}

.nav-links__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav-links__container li {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.register-spa button {
    padding: 10px 20px;
    border: 1px solid #FFF;
    border-radius: 30px;
    color: #FFF;
    background: transparent;
    cursor: pointer;
}
.none-other{
    display: flex;
    width: 28rem;
}
@media screen and (max-width:820px) {
    .nav-links__container {
        display: none;
    }
    .hidden .nav-links__container {
        display: none;
    }
    
    .hidden .navbar_search-top {
        display: none;
    }
    .none-other{
        display: none;      
    }
}

