
.slider__outer-container {
    background-color: transparent;
    padding: 2rem 5%;
    margin: 1rem 3%;
    width: 94%;
    border-radius: 10px;
}
.slider__header {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    padding-bottom: 1rem;
    align-items: center;

}
.slider__header h2 {
    position: relative;
}
.slider__header h2::before {
    content: '';
    position: absolute;
    border-bottom: 2px solid black;
    width: 30%;
    top: 0;
    bottom: 0;
}
.slider__header a {
    text-transform: uppercase;
    text-decoration: underline;    
    justify-self: end;
    color: #000;
}
