.tags__container {
    width: var(--container__lg);
    margin: 2rem auto;
    text-align: justify;
    display: grid;
}
.tags-title {
    width: 50%;
}
.tags-items__container {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.tags-item {
    background: #DEE1FF;
    margin: 1rem 1.5rem 0 0 ;
    padding: 2px 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}
.tags-item:active{
    transform: scale(0.9);
}