* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}
:root{
    --transition: .5s ;
}
.main__container section {
    background-color: #000;
}
button {
    text-decoration: none;
    outline: none;
    border: none;
    transition: var(--transition);
}
button:active{
    transform: scale(0.9);
}
body {
    min-height: 100vh;
    width: auto;
    background-color: #FAF8ED;
    font-family: 'Inter', sans-serif;
}